* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.modalContainer {
    width: 100vw;
    height: 100vh;
    background-image: url("https://www.pixelstalk.net/wp-content/uploads/images6/Anime-HD-Wallpaper-4K-Free-download.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    object-fit: cover;
}


.formCard {
    background: #fff;
    width: 900px;
    height: 540px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease;
    /* border: solid; */
}


.formLeft {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.formLeft h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}

.formLeft p {
    margin-bottom: 25px;
    color: #666;
    font-size: 16px;
}


.formLeft label {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-top: 14px;
    margin-bottom: 6px;
}


.formLeft input {
    padding: 10px 14px;
    border: 1.7px solid #dcdcdc;
    border-radius: 10px;
    font-size: 15px;
    transition: all 0.25s ease;
}

.formLeft input:focus {
    border-color: #ff7b29;
    outline: none;
    box-shadow: 0px 0px 6px rgba(255, 123, 41, 0.4);
}


.submitBtn {
    background: #ff7b29;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    transition: 0.25s ease;
}

.submitBtn:hover {
    background: #e36c1f;
}

.formRight {
    width: 50%;
    height: 100%;
}

.formRight img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 0%;
    display: block;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.96);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}